*.so
*.o
*.a
*.d
src/auto_rec_mini
local_build/bin/auto_rec_mini
src/parser_test/parser_test
rec_reserves.json
rec_results.json
event_schedule_cache_histories.json
event_schedule_map.json
compile_commands.json
.clangd
.cache
